<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="data source=some_server;initial catalog=some_db;integrated security=SSPI;Application Name=ManzanaWCF" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="Repository" value="Fake" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="ErrorLogging" type="ManzanaWCF.Logging.ErrorHandlerBehavior, ManzanaWCF" />
			</behaviorExtensions>
		</extensions>
		<services>
			<service name="ManzanaWCF.Services.ChequeService">
				<endpoint address="" behaviorConfiguration="ManzanaWCF.Services.ChequeService" binding="webHttpBinding" contract="ManzanaWCF.Services.IChequeService" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ManzanaWCF.Services.ChequeService">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<ErrorLogging />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
